@import url("https://fonts.googleapis.com/css?family=Plus Jakarta Sans");

:root {
    --main-color: #01676c;
    --hover-color: #01484c;
    --bg-color: #cce1e2;
    --secondary-color: #f4f4f4;
    --font-type: "Plus Jakarta Sans";
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-type);
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
}

body {
    /* width: calc(max(506px, 100%)); */
    display: flex;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--main-color);
    font-weight: 600;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.33rem;
}

h4 {
    font-size: 1.17rem;
}

h5 {
    font-size: 0.83rem;
}

h6 {
    font-size: 0.67rem;
}

a {
    text-decoration: none;
}

.fw-bold {
    font-weight: 600;
}

.navbar-brand:hover {
    color: var(--hover-color);
    transition: 0.2s all linear !important;
}

.navbar-brand:active {
    color: var(--main-color);
}

.text-primary {
    color: var(--main-color) !important;
}

.text-primary:hover {
    color: var(--hover-color) !important;
    transition: 0.2s all linear !important;
}

.navbar-brand {
    color: var(--main-color);
    font-size: 1.2rem;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--main-color);
    --bs-btn-border-color: var(--bs-btn-bg);
    --bs-btn-hover-color: var(--bs-btn-bg);
    --bs-btn-hover-background: #fff;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: var(--bs-btn-bg);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-btn-bg);
    --bs-btn-active-border-color: var(--bs-btn-bg);
    --bs-btn-disabled-bg: var(--bs-btn-bg);
    --bs-btn-disabled-border-color: var(--bs-btn-bg);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/*
.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: var(--bs-btn-bg);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-btn-bg);
    --bs-btn-disabled-border-color: var(--bs-btn-bg);
} */

.btn-group-sm > .btn,
.btn-sm {
    --bs-btn-padding-y: 0.4rem;
    --bs-btn-padding-x: 1.7rem;
    --bs-btn-font-size: 0.875rem;
}

.text-bg-primary {
    color: #fff !important;
    background-color: var(--main-color) !important;
}

.text-bg-primary:hover {
    color: var(--main-color) !important;
    background-color: white !important;
    border: 1px solid #0e185f;
}

.text-bg-danger {
    color: #fff !important;
    background-color: #dc3545 !important;
    border: 1px solid #dc3545;
}

.text-bg-danger:hover {
    color: #dc3545 !important;
    background-color: white !important;
}

.text-bg-success {
    color: #fff !important;
    background-color: #3fa24f !important;
    border: 1px solid #3fa24f;
}

.text-bg-success:hover {
    color: #3fa24f !important;
    background-color: white !important;
}

.bg-primary {
    background-color: var(--bg-color) !important;
}

.alert-number {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.border-alert {
    border-color: #dc3545;
}

.pagination {
    --bs-color: var(--main-color);
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: var(--bs-color);
    --bs-pagination-bg: var(--secondary-color);
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 1rem;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25remrgba (13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: var(--bs-color);
    --bs-pagination-active-border-color: var(--bs-color);
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: #dee2e6;
    display: flex;
    padding-left: 0;
    list-style: none;
}

.page-link {
    margin: 0 0.55rem;
    border-radius: 42%;
    padding: 0rem 0.7rem;
    background-color: var(--secondary-color);
    border: none;
}

.page-item:last-child .page-link {
    border-radius: 42%;
}

.page-item:first-child .page-link {
    border-radius: 42%;
}

.btn-outline-primary {
    --bs-btn-color: var(--main-color);
    background-color: #fff;
    --bs-btn-border-color: var(--bs-btn-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-btn-color);
    --bs-btn-hover-border-color: var(--bs-btn-color);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-btn-color);
    --bs-btn-active-border-color: var(--bs-btn-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-btn-color);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-btn-color);
    --bs-gradient: none;
}

@media only screen and (max-width: 547px) {
    html {
        font-size: 75% !important;
    }
}

@media only screen and (max-width: 284px) {
    html {
        font-size: 50% !important;
    }

    .icon {
        width: 45% !important;
    }
}

@media only screen and (max-width: 150px) {
    html {
        font-size: 27% !important;
    }
}
