@import url('https://fonts.googleapis.com/css?family=Plus Jakarta Sans');

:root {
    --main-color: #01676C;
    --secondary-color: #F4F4F4;
    --font-type: 'Plus Jakarta Sans';
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-type);
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
}

body{
    width: calc(max(260px, 100%));
    display: flex;
    justify-content: center;

}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-color);
    font-weight: 600;
}

